
<%= form_for(@job) do |f| %>
  <div>
    <% if @job.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@form.errors.count, "error") %> 
          prohibited this form from being saved:
        </h2>

        <ul>
        <% @job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="job_section">
      <div class="field form-group">
        <%= f.label :job_type ,"工作型態" %>
        <%= f.select :job_type, options_for_select([ "Full-time", "Part-time" , "Internship","Other"]) ,class:"form-control"%>
      </div>

      <div class="field form-group">
        <%= f.label :title ,"工作職稱" %><br>
        <%= f.text_field :title ,class:"form-control",placeholder:"ex. Ruby on Rails 工程師"%>
      </div>

      <div class="field form-group">
        <%= f.check_box :begginer%>
        <%= f.label :begginer ,"是否適合新手？" %>
      </div>

      <div class="field form-inline form-group">
        <%= f.label :title ,"薪資範圍（NTD/月）" %><br>
        <div class="field form-group">
          <%= f.text_field :salary_low ,class:"form-control"%>
        </div>
        ~
        <div class="field form-group">
          <%= f.text_field :salary_high ,class:"form-control"%>
        </div>
      </div>

      <div class="field form-group">
        <%= f.label :description ,"工作描述"%><br>
        <%= f.text_area :description , rows:"5",class:"form-control",placeholder:"ex.使用Ruby on Rails 進行新網站設計開發 .."%>
      </div>

      <div class="field form-group">
        <%= f.label :requirement ,"應徵條件"%><br>
        <%= f.text_area :requirement ,class:"form-control", rows:"3",class:"form-control",placeholder:"ex.Ruby on Rails, HTML / JavaScript / CSS, Git.."%>
      </div>

      <div class="field form-group">
        <%= f.label :location,"工作地點" %><br>
        <%= f.text_field :location,class:"form-control",placeholder:"ex.南港軟體園區, 西湖捷運站2號出口..."%>
      </div>

      <div class="field form-group">
        <%= f.label :company_name ,"公司名稱" %><br>
        <%= f.text_field :company_name ,class:"form-control"%>
      </div>

      <div class="field form-group">
        <%= f.label :company_url ,"公司網址/連結" %><br>
        <%= f.text_field :company_url ,class:"form-control"%>
      </div>

      <div class="field form-group">
        <%= f.label :apply_info ,"應徵方式" %><br>
        <%= f.text_field :apply_info ,class:"form-control",placeholder:"ex.將履歷寄送至hr@mycompany.com"%>
      </div>

      <div class="actions">
        <%= f.submit "確認", :class => 'btn btn-success submit-form pull-right'%>
      </div>
    </div>
  </div>
<% end %>