<div class="container">
  <div class="col-md-8 col-md-offset-2 page">
    <h2><%= @job.title%></h2> 
    <hr>
    <%= type_label_selector(@job.job_type) %>
    <br>
    <br>
    <p>
      <span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span>
      <%= link_to @job.company_name , @job.company_url%>
    </p>
    <p>
      <span class="glyphicon glyphicon glyphicon-map-marker" aria-hidden="true"></span>
      <%= @job.location%>
    </p>
    <p>
      <span class="glyphicon glyphicon glyphicon-usd" aria-hidden="true"></span>
      NTD <%= @job.salary_low %> ~ <%= @job.salary_high %>
    </p>
    <% if @job.begginer %>
      <p>
        <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
        願意接受初學者
      </p>
    <% end %>

    <hr>
    <h4>工作內容</h4>
    <%= simple_format(@job.description)%>

    <% if @job.requirement %>
    <h4>應徵條件</h4>
    <p>
      <%= simple_format(@job.requirement)%>
    </p>
    <% end %>

    <% if @job.apply_info %>
    <h4>應徵方式</h4>
    <p>
      <%= simple_format(@job.apply_info)%>
    </p>
    <% end %>


    <%= link_to 'Back', jobs_path , class:"back-section btn btn-default"%>
  </div>
</div>