<div class="container">
  <div class="col-md-8 col-md-offset-2 page">
    <h2><%= @job.title%></h2>
    <% if current_user && @job.user_id == current_user.id%>
      <p>
        <%= link_to "Edit", edit_job_path(@job), :class=>"btn btn-xs btn-warning"%>
        <%= link_to "Delete",job_path(@job), :confirm => 'Are you sure?', :method => :delete , :class=>"btn btn-xs btn-danger"%>
      </p>
    <%end%>
    <hr>
    <%= type_label_selector(@job.job_type) %>
    <br>
    <br>
    <p>
      <span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span>
      <%= link_to @job.company_name , @job.company_url%>
    </p>
    <p>
      <span class="glyphicon glyphicon glyphicon-map-marker" aria-hidden="true"></span>
      <%= @job.location%>
    </p>
    <p>
      <span class="glyphicon glyphicon glyphicon-usd" aria-hidden="true"></span>
      <% if @job.salary_low == 0 and @job.salary_high == 0 %>
      詳情參考工作內容
      <% else %>
      NTD <%= @job.salary_low %> ~ <%= @job.salary_high %>
      <% end %>
    </p>
    <% if @job.begginer %>
      <p>
        <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
        願意接受初學者
      </p>
    <% end %>

    <hr>
    <% if @job.from %>
      <div class="alert alert-success" role="alert">
      <%= "此工作資訊來自 #{@job.from} ,如有資訊不明,"   %>
      <%= link_to "可點此處瀏覽原始資訊", @job.from_url%>
      </div>
    <% end %>
    
    <h3><span class="glyphicon glyphicon glyphicon-calendar" aria-hidden="true"></span>
      工作內容</h3>

    <%= simple_format(@job.description)%>

    <% if @job.requirement %>
    <h3><span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
      應徵條件</h3>
    <p>
      <%= simple_format(@job.requirement)%>
    </p>
    <% end %>

    <% if @job.apply_info %>
    <h3><span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span>
      應徵方式</h3>
    <p>
      <%= simple_format(@job.apply_info)%>
    </p>
    <% end %>


    <%= link_to 'Back', jobs_path , class:"back-section btn btn-default"%>
  </div>
</div>