<div class="container">
  <div class="col-md-6 col-md-offset-3">

    <h2><small><%= @job.job_type%></small><%= @job.title%></h2>

    <p> 
      <%= @job.description%>
    </p>
    <p>
      <%= @job.description%>
    </p>


    <%= link_to 'Back', jobs_path , class:"back-section btn btn-default"%>
  </div>
</div>

